<div class="row text-center">
    <div class="col">
        <table class="table table-bordered bg-secondary text-center mt-4">
            <tr>
                <th colspan="2" class="text text-bg-danger">Product detail</th>
            </tr>
            <tr>
                <th>Name: </th>
                <th>{{hotwheel.name}}</th>
            </tr>
            <tr>
                <th>Seri: </th>
                <th>{{hotwheel.seri}}</th>
            </tr>
            <tr>
                <th>Made in: </th>
                <th>{{hotwheel.made_in}}</th>
            </tr>
            <tr>
                <th>Price: </th>
                <th>{{hotwheel.price}}</th>
            </tr>
        </table>
    </div>
    <div class="col">
        <img class="img-thumbnail" src="{{hotwheel.image}}" width="350" height="350">
    </div>
</div>
