<div class="card-group text-center">
    <div class="row">
        {{#each hotwheel}}
        <div class="card col-md-3 m-5 bg-warning" >
            <div class="card-body">
                <h4 class="card-title" >{{name}}</h4>
                <p class="card-text">{{seri}}</p>
                <h3 class="card-title text-danger">{{price}}$</h3>
            </div>
            <a href="/hotwheel/detail/{{_id}}"><img class="card-img-top" src="{{image}}" width="150" height="300"></a>
        </div>
        {{/each}}
    </div>

</div>