<div class="row">
    <div class="col">
        <table class="table table-bordered text-center mt-4">
            <tr>
                <th colspan="2" class="text text-bg-danger">Product detail</th>
            </tr>
            <tr>
                <th>Name: </th>
                <th>{{gundam.name}}</th>
            </tr>
            <tr>
                <th>Brand: </th>
                <th>{{gundam.brand}}</th>
            </tr>
            <tr>
                <th>Grade: </th>
                <th>{{gundam.grade}}</th>
            </tr>
            <tr>
                <th>Made in: </th>
                <th>{{gundam.made_in}}</th>
            </tr>
            <tr>
                <th>Price: </th>
                <th>{{gundam.price}}</th>
            </tr>
        </table>
    </div>
    <div class="col">
        <img class="img-thumbnail" src="{{gundam.image}}" width="350" height="350">
    </div>
</div>