<div>bs5-card-group</div>
<div class="card-group text-center">
    <tr>
        <th colspan="1">
            <form action="/gundam/searchli" method="post">
                <div class="form-group">
                    <input class="form-control" type="search" name="name" placeholder="Search by name">
                </div>
            </form>
        </th>
    </tr>
    <div class="row">
        {{#each gundam}}
        <div class="card col-md-3 m-3" >

            <a href="/gundam/detail/{{_id}}"><img class="card-img-top" src="{{image}}" width="150" height="300"></a>
            <div class="card-body">
                <h4 class="card-title" >{{name}}</h4>
                <p class="card-text">{{brand}}</p>
                <h3 class="card-title text-danger">{{price}}$</h3>
            </div>
        </div>
        {{/each}}
    </div>

</div>
